@page "/ReceptionCertificates/Inventory"
@attribute [Authorize]
<PageTitle>Inventario</PageTitle>

<body class="flex flex-column min-h-screen bg-[url('/assets/img/fondocasa.png')] imgfondo">
    <div id="ContenedorInventario" class="flex">
        <div id="ListActas" class="flex ml-4">
            <LeftListActas OnClick="ChangeOpenModalRooms" TypeList="Habitaciones"></LeftListActas>
            <LeftListActas OnClick="ChangeOpenModalComponents" TypeList="Componentes"></LeftListActas>
        </div>
        <div id="ContenedorElementos" class="mt-24 mb-2 flex justify-around relative border-1 border-black rounded-lg p-2 -ml-2 mr-6 w-full">
            <div id="ComponteInputs" class="flex p-2">
                <div class="flex">
                    <div class="flex">
                        <div class="flex flex-col">
                            <label for="" class="text-blue-900 mt-2">Material</label>
                            <label for="" class="text-blue-900 mt-4">Color</label>
                            <label for="" class="text-blue-900 mt-4">Estado General</label>
                            <label for="" class="text-blue-900 mt-3">Canitdad</label>
                            <label for="" class="text-blue-900 mt-3">Superficie m2</label>
                        </div>
                        <div class="flex flex-col">
                            <button @onclick="@(() => ChangeButtonsShow("Material"))" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2 h-7 w-24">@MaterialSelect</button>
                            <button @onclick="@(() => ChangeButtonsShow("Color"))" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2 h-7 w-24">@ColorSelect</button>
                            <button @onclick="@(() => ChangeButtonsShow("EstadoGeneral"))" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2 h-7 w-24">@StatusSelect</button>
                            <button @onclick="@(() => ChangeButtonsShow(""))"><input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2"></button>
                            <button @onclick="@(() => ChangeButtonsShow(""))"><input type="number" class="border-2 bg-slate-100 ml-5 w-3/6 flex justify-end my-2"></button>
                        </div>
                    </div>
                    <div class="mx-5">
                        <li class="py-2 flex text-blue-900">Copiar Valores<input @onclick="ChangeOpenModalCopyValues" type="checkbox" class="border-2 w-1/4"></li>
                    </div>
                </div>
            </div>

            @if(TypeButtonsInventory == "Material" && MaterialSelect == "")
            {
                <DynamicComponentInventory OnClick="SetMaterial"></DynamicComponentInventory>
            }
            @if(TypeButtonsInventory == "Color" && ColorSelect == "")
            {
                <ColorsInventory OnClick="SetColor"></ColorsInventory>
            }
            @if(TypeButtonsInventory == "EstadoGeneral" && StatusSelect == "")
            {
                <div id="ComponenteCambiableEstado" class="flex absolute bottom-72 left-20">
                    <div id="ColumBotonesEstado1" class="mx-6 flex flex-col">
                        <button @onclick="@(() => SetStatus("Mal Estado"))" class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Mal Estado</button>
                    </div>
                    <div id="ColumBotonesEstado2" class="mx-6 flex flex-col">
                        <button @onclick="@(() => SetStatus("Estado Regular"))" class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Estado Regular</button>
                    </div>
                    <div id="ColumBotonesEstado3" class="mx-6 flex flex-col">
                        <button @onclick="@(() => SetStatus("Buen Estado"))" class="py-2 my-4 w-48 border rounded-lg text-white shadow-xl" style="background-color: #6AA7B7;">Buen Estado</button>
                    </div>
                </div>
            }

    
            <div id="ComponenteRecuadros" class="p-2">
                <div>
                    <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Oberservaciones</label>
                    <input type="text" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
                </div>
                <div class="my-8">
                    <label for="" class="text-center text-xl text-blue-900 font-semibold mb-2">Fotografias</label>
                    <input type="file" class="border-2 bg-slate-100 ml-5 w-96 h-48 flex justify-end">
                </div>
            </div>           
        </div>
    </div>
    <div id="Botones" class="flex justify-center -my-5">
        <button class="py-2 my-4 w-48 border rounded-lg text-white text-xl shadow-xl" style="background-color: #2B286F;">Guardar</button>
        <button class="py-2 my-4 w-48 border rounded-lg text-white text-xl shadow-xl" style="background-color: #2B286F;">Generar Acta</button>
    </div>
    <ModalRoomsOrComponents OnClick="ChangeOpenModalRooms" TitleTable="Habitaciones" ShowModal="@ShowModalRooms"></ModalRoomsOrComponents>
    <ModalRoomsOrComponents OnClick="ChangeOpenModalComponents" TitleTable="Componentes" ShowModal="@ShowModalComponents"></ModalRoomsOrComponents>
    <ModalRoomsOrComponents OnClick="ChangeOpenModalCopyValues" TitleTable="Habitaciones" ShowModal="@ShowModalCopyValues"></ModalRoomsOrComponents>
</body>

<style>
    .imgfondo {
        position: relative;
        min-height: 90.2vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>