@page "/ProgressActivityForAparment"
<PageTitle>Sistema COB</PageTitle>

<div id="Contenedor" class="min-h-screen bg-[url('/assets/img/imgFondo.png')] z-0 opacity-25 imgfondo fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
@if (_context.Apartment is not null)
{
    <div class="md:p-10 p-20 md:pb-32 mt-24 fixed inset-0">
        <div class="h-full block border border-stone-300 rounded-2xl">
            <div class="w-full inline-flex">
                <div class="md:w-2/6 xl:w-1/6 md:p-1 p-2">
                    <h1 class="rounded-br-lg rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#162D4E] text-center md:p-2 xl:p-5">Departamentos</h1>
                </div>
                <div class="md:w-2/6 xl:w-2/6 md:p-1 p-2">
                    <h1 class="rounded-br-lg rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#162D4E] text-center md:p-2 xl:p-5">Actividades</h1>
                </div>
                <div class="md:w-2/6 xl:w-3/6 md:p-1 p-2">
                    <h1 class="rounded-br-lg rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#162D4E] text-center md:p-2 xl:p-5">Avance General</h1>
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="overflow-y-auto md:h-[29rem] xl:h-[40rem]">
                    <div class="w-full inline-flex">
                        <div class="md:w-2/6 xl:w-1/6 p-1">
                            <div class="@(_isFullAparment ? "bg-[#9CA2A8]" : "bg-[#55595E]") border border-stone-40 md:h-12 xl:h-14">
                                <button @onclick="() => FullActivity()" class="w-full">
                                    <p class="text-lg text-white font-medium leading-6 text-center md:p-1 xl:p-3">Todos</p>
                                </button>
                            </div>
                        </div>
                        <div class="md:w-2/6 xl:w-2/6 inline-flex p-1"></div>
                        <div class="md:w-2/6 xl:w-3/6 inline-flex p-1"></div>
                    </div>
                    @foreach (var aparment in _context.Apartment)
                    {
                        <div class="@(_idsAparmentSelect.ContainsKey(aparment.IdApartment) ? "h-80" : "h-12") w-full inline-flex">
                            <div class="md:w-2/6 xl:w-1/6 p-0.5">
                                <div class="@(_idsAparmentSelect.ContainsKey(aparment.IdApartment) && _isFullAparment == false ? "bg-[#9CA2A8]" : "bg-[#55595E]") border border-stone-400 h-full flex justfy-center">
                                    <button @onclick="() => AddIdAparmentSelect(aparment.IdApartment)" class="w-full">
                                        <p class="text-lg md:text-sm xl:text-lg text-white font-medium leading-6 text-center">@aparment.ApartmentNumber</p>
                                    </button>
                                </div>
                            </div>
                            @if (_idsAparmentSelect.ContainsKey(aparment.IdApartment))
                            {
                                <div class="md:w-4/6 xl:w-5/6 p-0.5 h-full overflow-y-auto">
                                    @foreach (var activity in _idsAparmentSelect[aparment.IdApartment])
                                    {
                                        <div class="inline-flex w-full">
                                            <div class="bg-[#254260] border border-stone-400 h-12 p-0.5 mx-2 md:w-2/4 xl:w-2/5">
                                                <button class="w-full">
                                                    <p class="text-lg md:text-sm xl:text-lg text-white font-medium leading-6 text-center">@activity.activityNumber</p>
                                                </button>
                                            </div>
                                            <div class="inline-flex md:w-2/4 xl:w-3/5 ml-3 p-0.5">
                                                @if (activity.porcentage.Item1 > 0)
                                                {
                                                    <div class="bg-[#115D28] z-10 h-full md:text-sm xl:text-lg text-white text-end w-[@Convert.ToInt32(activity.porcentage.Item1)%] md:p-1 xl:p-3">@activity.porcentage.Item1.ToString("0.##")%</div>
                                                }
                                                @if (activity.porcentage.Item1 < 100)
                                                {
                                                    <div class="bg-[#CB3030] h-full md:text-sm xl:text-lg text-white text-end w-[@Convert.ToInt32(activity.porcentage.Item2)%] md:p-1 xl:p-3">@activity.porcentage.Item2.ToString("0.##")%</div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="w-full flex py-8">
            <button @onclick="() => GeneratePDfPorgressaprment()" class="mx-auto bg-[#B9352E] hover:bg-red-500 w-32 p-2 rounded-2xl text-lg text-white font-medium leading-6 border border-stone-400 hover:border-white">Descargar</button>
        </div>
    </div>
    @if (_isLoadingProcess)
    {
        <div class="fixed inset-0 flex inset-0 fixed justify-center items-center h-screen fixed bg-black bg-opacity-75 transition-opacity"></div>
        <div class="flex inset-0 fixed justify-center items-center h-screen">
            <FluentProgressRing style="width: 102px; height: 102px;">
                <ChildContent>100%</ChildContent>
            </FluentProgressRing>
        </div>
    }
    <button @onclick="() => BackPage()" class="fixed inset-x-5 top-24 w-12">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#55595E" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </button>
}
else
{
    <div class="flex inset-0 fixed justify-center items-center h-screen fixed bg-black opacity-50 transition-opacity">
        <FluentProgressRing style="width: 102px; height: 102px;">
            <ChildContent>100%</ChildContent>
        </FluentProgressRing>
    </div>
}
<Navbar></Navbar>
<Footer></Footer>
<label class="fixed top-0 mx-64 left-0 right-0 text-base md:text-xl lg:text-2xl xl:text-4xl text-white leading-6 text-center py-2 mt-2">Resumen Avance Actividad Por Departamento</label>
