@page "/ProjectProgressReport"
<PageTitle>Sistema COB</PageTitle>

<div class="pt-28 pb-12 min-h-screen bg-[url('/assets/img/imgFondo.png')] z-0 opacity-25 imgfondo fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>

@if (apartments.Count() > 0 && activities.Count() > 0 && apartmentDetails == true)
{
    if (loading == false)
    {
        <div class="h-screen 2xl:pt-20 2xl:pb-12 fixed inset-0 flex flex-col justify-center items-center">
            <div class="flex justify-items-center w-screen rounded-2xl 2xl:my-2 xl:h-4/6 2xl:h-5/6 flow-root">
                <div class="flex justify-center justify-content-around" style="direction: ltr;">
                    <div class="flex justify-content-around">
                        <div class="p-1 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                            <h1 class="rounded-xl text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 bg-[#162D4E] text-center py-2">Departamento</h1>
                        </div>
                        @if (showActivities)
                        {
                            <div class="p-1 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                                <h1 class="rounded-xl text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 bg-[#162D4E] text-center py-2">Actividad</h1>
                            </div>
                        }
                        @if (elements.Count() != 0)
                        {
                            <div class="p-1 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                                <h1 class="rounded-xl text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 bg-[#162D4E] text-center py-2">Elemento</h1>
                            </div>
                        }
                        @if (subElements.Count() != 0)
                        {
                            <div class="p-1 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                                <h1 class="rounded-xl text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 bg-[#162D4E] text-center py-2">SubElemento</h1>
                            </div>
                        }
                    </div>
                </div>
                <div class="w-screen h-5/6 flex justify-content-center">
                    <div class="flex justify-content-center h-6/6 md:w-[600px] lg:w-[825px] xl:w-[1100px] 2xl:w-[1400px]">
                        <div class="scroll">
                            <div class="grid grid-col-1 w-[5rem] sm:w-[9.5rem] md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                                <button @onclick="() => AllApartments()" class="@(allApartments ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                    <h1 class="text-xs md:text-xs xl:text-xl xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">TODOS</h1>
                                </button>
                                @foreach (var apartment in apartments)
                                {
                                    @if (allApartments == false)
                                    {
                                        <button @onclick="() => AddIdSelect(apartment.IdApartment, 1)" class="@(_idsAparmentSelect.Contains(apartment.IdApartment) ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 border border-blue-700 grid">
                                            <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@apartment.ApartmentNumber</h1>
                                        </button>
                                    }
                                    else
                                    {
                                        <button @onclick="() => AddIdSelect(apartment.IdApartment, 1)" class="bg-[#55595E] h-12 border border-blue-700 grid">
                                            <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@apartment.ApartmentNumber</h1>
                                        </button>
                                    }
                                }
                            </div>
                        </div>
                        <div class="scroll">
                            <div class="flex justify-center rounded-br-2xl-2xl" style="direction: ltr;">
                                <div class="flex justify-center">
                                    <div class="flex justify-items-center flow-root">
                                        @if (showActivities)
                                            @if (activities != null)
                                            {
                                                if (allApartments == false)
                                                {
                                                    <button @onclick="() => AllActivities()" class="@(allActivities ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">TODOS</h1>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="bg-transparent h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem]">
                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-transparent font-medium leading-6 text-center p-1">TODOS</h1>
                                                    </button>
                                                }
                                                @if (elements.Count() != 0)
                                                {
                                                    <button @onclick="() => AllElements()" class="@(allElements ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">TODOS</h1>
                                                    </button>
                                                }
                                                @if (subElements.Count() != 0)
                                                {
                                                    <button @onclick="() => AllSubElements()" class="@(allSubElements ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">TODOS</h1>
                                                    </button>
                                                }
                                                @foreach (var activity in activities)
                                                {
                                                    <div class="flex justify-items-stretch">
                                                        @if (allActivities == false)
                                                        {
                                                            <button @onclick="() => AddIdSelect(activity.IdActivity, 2)" class="@(_idsActivitiesSelect.Contains(activity.IdActivity) ? "bg-[#9CA2A8]" : "bg-[#55595E]") @(_idsActivitiesSelect.Contains(activity.IdActivity) ? "h-48" : "h-12") md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                                                <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@activity.ActivityName</h1>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button @onclick="() => AddIdSelect(activity.IdActivity, 2)" class="bg-[#55595E] @(_idsActivitiesSelect.Contains(activity.IdActivity) ? "h-48" : "h-12") md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700">
                                                                <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@activity.ActivityName</h1>
                                                            </button>
                                                        }

                                                        @if (_idsActivitiesSelect.Contains(activity.IdActivity) == true)
                                                        {
                                                            @if (elements.Count() != 0)
                                                            {
                                                                <div class="flex-column flow-root scroll h-48">
                                                                    @foreach (var element in elements)
                                                                    {
                                                                        @if (element.IdActivity == activity.IdActivity)
                                                                        {
                                                                            <div class="flex justify-items-stretch">
                                                                                @if (allElements == false)
                                                                                {
                                                                                    <button @onclick="() => AddIdSelect(element.IdElement, 3)" class="@(_idsElementsSelect.Contains(element.IdElement) ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-24 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700 grid">
                                                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@element.ElementName</h1>
                                                                                    </button>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <button @onclick="() => AddIdSelect(element.IdElement, 3)" class="bg-[#55595E] h-24 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700 grid">
                                                                                        <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@element.ElementName</h1>
                                                                                    </button>
                                                                                }

                                                                                @if (_idsElementsSelect.Contains(element.IdElement) == true)
                                                                                {
                                                                                    @if (subElements.Count() != 0)
                                                                                    {
                                                                                        <div class="flex-column flow-root scroll h-24">
                                                                                            @foreach (var subElement in subElements)
                                                                                            {
                                                                                                @if (subElement.IdElement == element.IdElement)
                                                                                                {
                                                                                                    <div class="flex justify-items-stretch">
                                                                                                        @if (allSubElements == false)
                                                                                                        {
                                                                                                            <button @onclick="() => AddIdSelect(subElement.IdSubElement, 4)" class="@(_idsSubElementsSelect.Contains(subElement.IdSubElement) ? "bg-[#9CA2A8]" : "bg-[#55595E]") h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700 grid">
                                                                                                                <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@subElement.SubElementName</h1>
                                                                                                            </button>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <button @onclick="() => AddIdSelect(subElement.IdSubElement, 4)" class="bg-[#55595E] h-12 md:w-[8rem] lg:w-[12rem] xl:w-[17rem] 2xl:w-[19rem] border border-blue-700 grid">
                                                                                                                <h1 class="text-xs md:text-xs xl:text-lg 2xl:text-xl text-white font-medium leading-6 text-center p-1">@subElement.SubElementName</h1>
                                                                                                            </button>
                                                                                                        }
                                                                                                    </div>
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="w-full flex justify-center items-center xl:mt-2 2xl:mt-4">
                    <div class="flex justify-between items-center w-[50rem]">
                        <label class="bg-[#162D4E] rounded-2xl text-lg text-white font-medium leading-6 w-[10rem] h-[2.5rem] flex justify-center items-center">Fecha Inicio</label>
                        <input @bind-value="DateStart" type="date" class="rounded-2xl text-lg text-black font-medium leading-6 border border-stone-400 w-[12rem] h-[2.5rem]" />
                        <label class="bg-[#162D4E] rounded-2xl text-lg text-white font-medium leading-6 w-[10rem] h-[2.5rem] flex justify-center items-center">Fecha Fin</label>
                        <input @bind-value ="DateEnd" type="date" class="rounded-2xl text-lg text-black font-medium leading-6 border border-stone-400 w-[12rem] h-[2.5rem]" />
                    </div>
               </div>
                <div class="w-full flex justify-end xl:mt-2 2xl:py-3">

                    <button @onclick="() => ShowReportAndHideApartment()" class="mx-auto bg-[#B9352E] hover:bg-red-500 p-2 rounded-2xl text-lg text-white font-medium leading-6 border border-stone-400 hover:border-white">Generar Reporte</button>                  
                </div>
            </div>
        </div>

        <a class="fixed z-10 inset-x-1 top-20 w-12" href="/ProjectReports">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#55595E" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>
    }
    else
    {
        <div class="flex inset-0 fixed justify-center items-center h-screen fixed bg-black opacity-50 transition-opacity">
            <div class="flex inset-0 fixed justify-center items-center h-screen">
                <FluentProgressRing style="width: 102px; height: 102px;">
                    <ChildContent>100%</ChildContent>
                </FluentProgressRing>
            </div>
        </div>
    }
}
else
{
    <div class="flex inset-0 fixed justify-center items-center h-screen fixed bg-black opacity-50 transition-opacity">
        <div class="flex inset-0 fixed justify-center items-center h-screen">
            <FluentProgressRing style="width: 102px; height: 102px;">
                <ChildContent>100%</ChildContent>
            </FluentProgressRing>
        </div>
    </div>
}

<Navbar></Navbar>
<Footer></Footer>

<label class="hidden lg:block mx-64 fixed top-0 left-0 right-0 text-base md:text-xl lg:text-2xl xl:text-4xl text-white leading-6 text-center py-2 mt-3">Evolución del Proyecto</label>