@page "/ProjectTracking"
<PageTitle>Sistema COB</PageTitle>

<div class="pt-28 pb-12 min-h-screen bg-[url('/assets/img/imgFondo.png')] z-0 opacity-25 imgfondo fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
@if (ApartmentsList is not null)
{
<div class="h-screen pt-20 pb-12 fixed inset-0 flex flex-col justify-center items-center scaleTab2 scaleTabHD2 scaleTabFullHD2">
    <div class="flex justify-center xl:justify-start rounded-2xl my-2 w-full xl:ml-60 marginv2" style="height: 45rem;">
        <div class="mx-1">
            <div>
                <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#0B253E] text-center py-2">No. Departamentos</h1>
            </div>
            <div class="justify-center bg-[#0B253E] rounded-br-2xl rounded-bl-2xl overflow-y-scroll overflow-x-hidden" style="height: 42rem; direction: rtl;">
                <div>
                    <div class="grid grid-col-1 gap-1 p-1 w-48">
                        @if(ApartmentsList != null)
                        @foreach (var apartment in ApartmentsList)
                        {
                                <button @onclick="@(() => ApartmentButtonClicked(apartment.IdApartment))" style="@((SelectedApartment == apartment.IdApartment) ? "background-color: #9CA2A8;" : "")" class="bg-gray-600 border border-stone-400">
                                <h1 class="text-md text-white font-medium leading-6 text-center p-1">@apartment.ApartmentNumber</h1>
                            </button>                            
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (AreasList != null)
        {
            <div class="mt-12 mx-1">
                <div>
                    <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#23364B] text-center py-2">Area</h1>
                </div>
                <div class="flex justify-center bg-[#23364B] rounded-br-2xl rounded-bl-2xl">
                    <div class="-mb-12" style="height: 42rem">
                        <div class="grid grid-col-1 gap-1 p-1 w-56">
                            @foreach (var area in AreasList)
                            {
                                <button @onclick="@(() => AreaButtonClicked(area.IdArea))" style="@((SelectedArea == area.IdArea) ? "background-color: #9CA2A8;" : "")" class="bg-gray-600 border border-stone-400">
                                    <h1 class="text-md text-white font-medium leading-6 text-center p-1">@area.AreaName</h1>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @if (ActivitiesList != null)
        {
            <div class="mt-24 mx-1">
                <div>
                    <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#163758] text-center py-2">Actividad</h1>
                </div>
                <div class="flex justify-center bg-[#163758] rounded-br-2xl rounded-bl-2xl">
                    <div class="-mb-24" style="height: 42rem">
                        <div class="grid grid-col-1 gap-1 p-1 w-56">
                            @foreach (var activity in ActivitiesList)
                            {
                                <button @onclick="@(() => ActivityButtonClicked(activity.IdActivity))" style="@((SelectedActivity == activity.IdActivity) ? "background-color: #9CA2A8;" : "")" class="bg-gray-600 border border-stone-400">
                                    <h1 class="text-md text-white font-medium leading-6 text-center p-1">@activity.ActivityName</h1>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @if (CurrentElementsList != null)
        {
            <div class="mt-36 mx-1">
                <div>
                    <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#254260] text-center py-2">Elemento</h1>
                </div>
                <div class="flex justify-center bg-[#254260] rounded-br-2xl rounded-bl-2xl">
                    <div class="-mb-36" style="height: 42rem">
                        <div class="grid grid-col-1 gap-1 p-1 w-56">
                            @foreach (var element in CurrentElementsList)
                            {
                                <button @onclick="@(() => ElementButtonClicked(element.IdElement))" style="@((SelectedElement == element.IdElement) ? "background-color: #9CA2A8;" : "")" class="bg-gray-600 border border-stone-400">
                                    <h1 class="text-md text-white font-medium leading-6 text-center p-1">@element.ElementName</h1>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @if (CurrentSubElementsList != null)
        {
            <div class="mt-48 mx-1">
                <div>
                    <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#3F5B77] text-center py-2">Sub - Elemento</h1>
                </div>
                <div class="flex justify-center bg-[#3F5B77] rounded-br-2xl rounded-bl-2xl">
                    <div class="-mb-48" style="height: 42rem">
                        <div class="grid grid-col-1 gap-1 p-1 w-56">
                            @foreach (var subElement in CurrentSubElementsList)
                            {
                                <button @onclick="@(() => SubElementButtonClicked(subElement.IdSubElement))" style="@((SelectedSubElement == subElement.IdSubElement) ? "background-color: #9CA2A8;" : "")" class="bg-gray-600 border border-stone-400">
                                    <h1 class="text-md text-white font-medium leading-6 text-center p-1">@subElement.SubElementName</h1>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @if (ShowDetalle)
        {
            <div class="mt-60 mx-1">
                <div>
                        <h1 class="rounded-tr-2xl rounded-tl-2xl text-xl text-white font-medium leading-6 bg-[#51708E] text-center py-2">Detalles de Avance</h1>
                    </div>

                    <div class="@((string.IsNullOrEmpty(CurrentProgressReport?.TotalPieces)) ? "dimmed" : "") flex justify-center bg-[#51708E] rounded-br-2xl rounded-bl-2xl">
                        <div class="-mb-60" style="height: 42rem">
                            <div class="grid grid-col-1 gap-1 p-1">
                                <div class="flex justify-center my-3">
                                    <span class="w-60 flex justify-center">
                                        <label class="text-xl text-white font-medium leading-6 text-center p-1">Total (@CurrentSubElement?.Type)</label>
                                        <input type="number" value="@CurrentProgressReport?.TotalPieces" disabled class="h-5 w-12 self-center rounded px-2 text-center">
                                    </span>
                                    <span class="w-60 flex justify-center">
                                        <label class="text-xl text-white font-medium leading-6 text-center p-1">Avance (@CurrentSubElement?.Type)</label>
                                        <input value="@CurrentProgressLog?.Pieces" @onchange="@((ChangeEventArgs e) => PiecesInput(e))" type="number" min="0" max="@CurrentProgressReport?.TotalPieces" class="h-5 w-12 self-center rounded px-2 text-center">
                                    </span>
                                </div>
                                <div class="flex justify-center my-3">
                                    <span class="w-40 flex flex-col">
                                        <input type="radio" checked="@(CurrentProgressLog.IdStatus == 1)" @onchange="e => { CheckboxClicked(1, e); }" class="h-6 w-6 self-center mb-4">
                                        <label class="text-xl text-red-600 font-medium leading-6 text-center p-1">Pendiente</label>
                                    </span>
                                    <span class="w-40 flex flex-col">
                                        <input type="radio" checked="@(CurrentProgressLog.IdStatus == 2)" @onchange="e => { CheckboxClicked(2, e); }" class="h-6 w-6 self-center mb-4">
                                        <label class="text-xl text-yellow-300 font-medium leading-6 text-center p-1">En Curso</label>
                                    </span>
                                    <span class="w-40 flex flex-col">
                                        <input type="radio" checked="@(CurrentProgressLog.IdStatus == 3)" @onchange="e => { CheckboxClicked(3, e); }" class="h-6 w-6 self-center mb-4">
                                        <label class="text-xl text-green-600 font-medium leading-6 text-center p-1">Terminado</label>
                                    </span>
                                </div>
                                <div class="flex justify-center my-3">
                                    <span class="w-60 flex flex-col">
                                        <label class="text-xl text-white font-medium leading-6 text-center p-1 mb-2">Observaciones</label>
                                        <textarea value="@CurrentProgressLog?.Observation" @onchange="@((ChangeEventArgs e) => ObservationInput(e))" type="text" class="h-40 w-48 self-center rounded px-2" />
                                    </span>



                                    <span class="w-60 flex flex-col">
                                        <label class="text-xl text-white font-medium leading-6 text-center p-1 mb-2">Fotografias</label>
                                        @*<input type="file" class="h-20 w-48 self-center rounded px-2 text-center bg-white"> ShowFormBlob || (*@
                                        @if (ShowFormBlob && (!string.IsNullOrEmpty(piecesCondition) && piecesCondition != "0"))
                                        {
                                            <FormBlob @ref="FormBlob" InputBlobs="@CurrentProgressLog.IdBlobs" AddedBlob="HandleInputFile" ColorSpan="color:black" Cursor="pointer" IsDisabled=false></FormBlob>
                                        }
                                        else
                                        {
                                            <FormBlob @ref="FormBlob" InputBlobs="@CurrentProgressLog.IdBlobs" AddedBlob="HandleInputFile" ColorSpan="color:gray" Cursor="not-allowed" IsDisabled=true></FormBlob>
                                        }
                                    </span>



                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="w-full flex py-3">
            <button @onclick="SaveButtonClicked" class="mx-auto bg-[#B9352E] hover:bg-red-500 w-32 p-2 rounded-2xl text-lg text-white font-medium leading-6 border border-stone-400 hover:border-white">Guardar</button>
        </div>
        @if (Loading)
        {
            <div class="loading">
                <div class="flex inset-0 fixed justify-center items-center h-screen">
                    <FluentProgressRing style="width: 102px; height: 102px;">
                        <ChildContent>100%</ChildContent>
                    </FluentProgressRing>
                </div>
            </div>
        }
    </div>

    <a class="fixed inset-x-5 top-24 w-12" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#55595E" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>
}
else
{
    <div class="flex inset-0 fixed justify-center items-center h-screen">
        <FluentProgressRing style="width: 102px; height: 102px;">
            <ChildContent>100%</ChildContent>
        </FluentProgressRing>
    </div>
}
<Navbar></Navbar>
<Footer></Footer>
<label class="fixed top-0 mx-64 left-0 right-0 text-2xl text-white leading-6 text-center py-2 mt-3">Seguimiento del Proyecto</label>