@page "/reportes/turnocarriles"

<h3>@_context.ErrorMessage</h3>

@if (!Render)
{
    <h2>Loading...</h2>
}
else
{    
    <div class="row clearfix min-vh-100">
        <div class="col-lg-4">
            <h3>Turno-Carriles</h3>
            <EditForm EditContext="@EditContext" OnSubmit="@GenerarReporte">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-2">
                    <label for="NomDelegacion">Delegación:</label>
                    <FluentTextField id="NomDelegacion" style="width: 100%;" Readonly="true" @bind-Value=@Delegacion.NomDelegacion></FluentTextField>
                </div>
                <div class="mb-2">
                    <label for="NomPlaza">Plaza de Cobro:</label>
                    <FluentTextField id="NomPlaza" style="width: 100%;" Readonly="true" @bind-Value=@Plaza.NomPlaza></FluentTextField>
                </div>
                <div class="mb-3">
                    <label for="IdTurno">Turno:</label>
                    @if (ReporteTurnoCarriles.IdTurno != null)
                    {
                        <FluentSelect id="IdTurno" style="width: 100%;" TValue=string @bind-Value=ReporteTurnoCarriles.IdTurno>
                            @foreach (var item in Turnos)
                            {
                                <FluentOption Value=@(item.Key)>@item.Value</FluentOption>
                            }
                        </FluentSelect>
                    }
                </div>
                <div class="mb-3">
                    <label for="NumGeaEncargadoTurno">Encargado de Turno:</label>
                    @if (ReporteTurnoCarriles.NumGeaEncargadoTurno != null)
                    {
                        <FluentSelect id="NumGeaEncargadoTurno" style="width: 100%;" TValue=string @bind-Value=ReporteTurnoCarriles.NumGeaEncargadoTurno>
                            @foreach (var item in EncargadosTurno)
                            {
                                <FluentOption Value=@(item.NumGea)>@item.Nombre</FluentOption>
                            }
                        </FluentSelect>
                    }
                </div>
                <div class="mb-3">
                    <label for="NumGeaAdministrador">Administrador:</label>
                    @if (ReporteTurnoCarriles.NumGeaAdministrador != null)
                    {
                        <FluentSelect id="NumGeaAdministrador" style="width: 100%;" TValue=string @bind-Value=ReporteTurnoCarriles.NumGeaAdministrador>
                            @foreach (var item in Administradores)
                            {
                                <FluentOption Value=@(item.NumGea)>@item.Nombre</FluentOption>
                            }
                        </FluentSelect>
                    }
                </div>
                <div class="mb-4">
                    <label for="Fecha">Fecha:</label>
                    <InputDate id="Fecha" style="width: 100%;" @bind-Value="ReporteTurnoCarriles.Fecha" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="NumGeaAdministrador">Observaciones:</label>
                    <FluentTextArea style="width: 100%;" @bind-Value="ReporteTurnoCarriles.Observaciones"></FluentTextArea>
                </div>
                <div class="mb-3">
                    <FluentButton type="submit" style="width: 100%;">Generar Reporte</FluentButton>
                    <br>
                    <p hidden="@HideError">No se encontraron bolsas con los datos proporcionados.</p>
                </div>
            </EditForm>
        </div>
        <div class="col-lg-8">
            <p hidden="@HideLoader">Cargando...</p>
            @if (PdfBlob != null)
            {
                <h3>Reporte</h3>
                <PdfViewer Content="PdfBlob" PdfName="ReporteTurnoCarriles.pdf"></PdfViewer>
            }
        </div>
    </div>

}