<div id="ContenedorActas">
<div id="DatosInputs" class="flex justify-between mx-2 mb-2 px-4 pt-2 pb-4 rounded-lg" style="background-color: #E3F2F6;">
    <span class="flex flex-col justify-center">
        <label for="" class="mb-1 text-xl text-center text-cyan-700">Fechas</label>
        <div>
                <input type="date" @bind-value="FilterReception.StartDay" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" class="px-2 mx-2 py-1 border-1 border-black rounded-lg" />
                <input type="date" @bind-value="FilterReception.EndDay" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" class="px-2 mx-2 py-1 border-1 border-black rounded-lg" />
        </div>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Tipo de Acta</label>
            <select @bind-value="FilterReception.CertificateType" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36 flex justify-center">
            <option value="0">Sin seleccionar</option>
            <option value="1">Entrada</option>
            <option value="2">Salida</option>
        </select>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Tipo de Inmueble</label>
            <select @bind-value="FilterReception.PropertyType" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36">
            <option value="0">Sin seleccionar</option>
            @if (propertyTypes is not null)
            {
                @foreach (var item in propertyTypes)
                {
                    <option value="@item.IdPropertyType">@item.PropertyTypeName</option>
                }
            }
        </select>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">No. Habitaciones</label>
            <input type="number" @bind-value="FilterReception.NumberOfRooms" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" placeholder="0" class="px-2 py-1 border-1 border-black rounded-lg w-36">
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Arrendador</label>
            <select @bind-value="FilterReception.Lessor" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36">
            <option value="0">Sin seleccionar</option>
            @if (lessors is not null)
            {
                @foreach (var item in lessors)
                {
                    <option value="@item.IdLessor">@item.Name</option>
                }
            }
        </select>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Arrendatario</label>
            <select @bind-value="FilterReception.Tenant" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36">
            <option value="0">Sin seleccionar</option>
            @if (tenants is not null)
            {
                @foreach (var item in tenants)
                {
                    <option value="@item.IdTenant">@item.Name</option>
                }
            }
        </select>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Delegación</label>
            <select @bind-value="FilterReception.Delegation" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36">
            <option value="0">Sin seleccionar</option>
            <option>Álvaro Obregón</option>
            <option>Azcapotzalco</option>
            <option>Benito Juárez</option>
            <option>Coyoacán</option>
            <option>Cuajimalpa de Morelos</option>
            <option>Cuauhtémoc</option>
            <option>Gustavo A. Madero</option>
            <option>Iztacalco</option>
            <option>Iztapalapa</option>
            <option>Magdalena Contreras</option>
            <option>Miguel Hidalgo</option>
            <option>Milpa Alta</option>
            <option>Tláhuac</option>
            <option>Tlalpan</option>
            <option>Venustiano Carranza</option>
            <option>Xochimilco</option>
        </select>
    </span>
    <span class="flex flex-col items-center">
        <label for="" class="mb-1 text-xl text-cyan-700">Agente</label>
            <select @bind-value="FilterReception.Agent" @onchange="@(() => ChageFilters.InvokeAsync(FilterReception))" @bind-value:event="oninput" name="" class="px-2 py-1 border-1 border-black rounded-lg w-36">
                <option value="0">Sin seleccionar</option>
                @if (users is not null)
                {
                    @foreach (var item in users)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
    </span>
</div>
</div>