<div id="ContenedorActas">      
    <div id="Actas" class="flex justify-around mt-4">
        <div class="relative" style="height: 35rem">
            <table class="overflow-y-auto">
                <thead>
                    <tr>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal">
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Fecha
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Acta
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Inmueble
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Habitaciones
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Arrendador
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Arrendatario
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Ciudad
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-3xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Agente
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ActasRecepcions is not null)
                    {
                        @foreach (var item in ActasRecepcions)
                        {
                            <tr>
                                <td class="py-2 text-center text-2xl">
                                    @if (TypeTableReception == "Historico")
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                        </svg>
                                    }
                                </td>
                                <td class="py-2 text-center text-2xl">@item.Fecha</td>
                                <td class="py-2 text-center text-2xl">@item.Acta</td>
                                <td class="py-2 text-center text-2xl">@item.Inmueble</td>
                                <td class="py-2 text-center text-2xl">@item.Habitaciones</td>
                                <td class="py-2 text-center text-2xl">@item.Arrendador</td>
                                <td class="py-2 text-center text-2xl">@item.Arrendatario</td>
                                <td class="py-2 text-center text-2xl">@item.Delegacion</td>
                                <td class="py-2 text-center text-2xl">@item.Agente</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>