<div id="ContenedorActas">
    <div id="Actas" class="flex justify-around mt-4">
        <div class="relative overflow-y-auto h-80" style="height: 30rem">
            <table class="">
                <thead>
                    <tr>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal">
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Fecha
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Acta
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Inmueble
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Habitaciones
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Arrendador
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Arrendatario
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Ciudad
                        </th>
                        <th class="py-2 px-12 text-center mb-1 text-xl text-center text-cyan-700 font-normal" style="background-color: #E3F2F6;">
                            Agente
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (_context.ActasRecepcionList != null)
                    {
                        @foreach (var item in _context.ActasRecepcionList)
                        {
                            <tr>
                                <td class="py-2 text-center text-2xl">
                                    @if (_context.TypeHistoricalOrPending != "Historical")
                                    {
                                        <button onclick="@(() => RedirectReception.InvokeAsync(item.IdReceptionCertificate))">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                            </svg>
                                        </button>
                                    }
                                    else
                                    {
                                        <button onclick="@(() => PreviewPdf.InvokeAsync(item.IdProperty))" class="bg-red-300 p-1 text-xs rounded-sm w-10 h-10 border border-red-900">PDF</button>
                                    }
                                </td>
                                <td class="py-2 text-center text-lg">@item.Fecha</td>
                                <td class="py-2 text-center text-lg">@item.Acta</td>
                                <td class="py-2 text-center text-lg">@item.Inmueble</td>
                                <td class="py-2 text-center text-lg">@item.Habitaciones</td>
                                <td class="py-2 text-center text-lg">@item.Arrendador</td>
                                <td class="py-2 text-center text-lg">@item.Arrendatario</td>
                                <td class="py-2 text-center text-lg">@item.Delegacion</td>
                                <td class="py-2 text-center text-lg">@item.Agente</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <div style="margin: 0; position: absolute; top: 50%; left: 50%; width: auto; height: auto;">
                            <FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>