<div class="bg-[#2B286F] mx-auto h-40 md:m-3 sm:m-1 text-center text-sm-center md:text-md text-white">
    <h1 class="text-xl mb-2">Arrendador</h1>
    <div class="flex inline grid grid-cols-3  place-items-center">
        <EditForm Model="CurrentLessor" OnSubmit="HandlePost">
            <DataAnnotationsValidator />
        <div>`
            <div class="flex inline mb-3">
                <label class="w-20 text-left">Nombre</label>
                    <InputText @bind-value="CurrentLessor.Name" class="w-44 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.Name)" />
            </div>
            <div class="flex inline mb-3">
                <label class="w-20 text-left">Apellido</label>
                    <InputText @bind-value="CurrentLessor.LastName" class="w-44 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.LastName)" />
            </div>
            <div class="flex inline">
                <label class="w-20 text-left">RFC</label>
                    <InputText @bind-value="CurrentLessor.Rfc" class="w-44 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.Rfc)" />
            </div>
        </div>
        <div>
            <div class="flex inline mb-3">
                <label class="w-28 text-left">Calle y Numero</label>
                    <InputText @bind-value="CurrentLessor.Street" class="w-36 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.Street)" />
            </div>
            <div class="flex inline mb-3">
                <label class="w-20 text-left">Colonia</label>
                    <InputText @bind-value="CurrentLessor.Colony" class="w-44 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.Colony)" />
            </div>
            <div class="flex inline">
                <label class="w-20 text-left">Delegacion</label>
                <InputText @bind-value="CurrentLessor.Delegation" class="w-44 ml-2 rounded-lg text-black" type="text" />
                    <ValidationMessage For="@(() => CurrentLessor.Delegation)" />
            </div>
        </div>
        <div>
            <div class="flex inline mb-3">
                <label class="w-20 text-left">C.P</label>
                    <InputText @bind-value="CurrentLessor.Cp" class="w-44 ml-2 rounded-lg text-black" type="text" />
                <ValidationMessage For="@(() => CurrentLessor.Cp)" />
            </div>
            <div class="flex inline mb-3">
                <label class="w-20 text-left">Telefono</label>
                    <InputText @bind-value="CurrentLessor.PhoneNumber" class="w-44 ml-2 rounded-lg text-black" type="text" />
                <ValidationMessage For="@(() => CurrentLessor.PhoneNumber)" />
            </div>
            <div>
                <button @onclick="@(() => OpenModalLessor.InvokeAsync())" class="bg-blue-300 rounded-lg h-6 w-full">Existente</button>
                <button type="submit" class="bg-blue-300 rounded-lg h-6 w-full">TEST</button>
            </div>
        </div>
        </EditForm>
    </div>    
</div>